<?xml version="1.0" encoding="UTF-8"?>
<phpunit
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
		colors="true"
		beStrictAboutOutputDuringTests="false"
		beStrictAboutTestsThatDoNotTestAnything="true"
		verbose="true"
		bootstrap="vendor/autoload.php"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		convertDeprecationsToExceptions="false"
		stopOnFailure="false">
	<testsuites>
		<testsuite name="unit">
			<directory>./test/suite/unit</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">./src</directory>
		</whitelist>
	</filter>
	<logging>
		<log type="coverage-clover" target="build/logs/clover.xml"/>
	</logging>
</phpunit>
